services:

  db:
    image: postgres
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=operatonDB
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
